* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: block;
}

.nav-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-page-title {
  width: 100%;
  text-align: center;
}

.footer-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}